/* Variables */
$main-color: #000;


/* Global */
body {
    font-family: "Lato", sans-serif;
    margin: 0 auto;
    font-size: 12px;
    line-height: 1.5;

}
.wrapper {
    display: flex;
    flex-wrap: wrap;



}
.list {
    list-style: none;
    
    a {
       color: $main-color;
       text-decoration: none;
       &:hover {
        font-weight: 700;
       }
       &.active {
        font-weight: 700;
       }
    }
}
/* Header */
.header {
    flex: 100%;
    margin-bottom: 50px;
    .logo {
        margin-left: 200px;
    }
}
/* Sidebar */
.sidebar {
    flex: 25%;
    .projects {
        text-align: end;
    }
}
/* Nav */
.nav {
    flex: 10%;
    .contacts {
        margin-top: 200px;
    }
}

/* Content */
 .content {
    flex: 65%;
    
    img {
        width: 600px;
        height: 400px;
    }
    .project {
        display: none;
        &.active {
            display: block;
        }
    }
    .contact {
        display: none;
        &.active {
            display: block;
        }
    }
 }