/* Variables */
$main-color: #000;


/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0 auto;
    font-size: 12px;
    line-height: 1.5;

}
.wrapper {
    display: flex;
    flex-wrap: wrap;



}
.list {
    list-style: none;
    margin: 0;
    
    a {
       color: $main-color;
       text-decoration: none;
       &:hover {
        font-weight: 700;
       }
       &.active {
        font-weight: 700;
       }
    }
}
p {
    margin: 0;
}
/* Header */
.header {
    flex: 100%;
    margin: 50px 0px;
    .logo {
        margin-left: 350px;
    }
}
/* Sidebar */
.sidebar {
    flex: 25%;
    .projects {
        text-align: end;
    }
}
/* Nav */
.nav {
    flex: 10%;
    .contacts {
        margin-top: 200px;
    }
}

/* Content */
 .content {
    flex: 65%;
    
    img {
        width: 60%;
    }
    .project {
        display: none;
        &.active {
            display: block;
        }
    }
    .project-title {
        margin-top: 0;
        width: 60%;
        text-align: end;
        
    }
    .description {
        width: 60%;
        margin-bottom: 50px;
        line-height: 2;
    }
}

/* Media */

@media (max-width: 767px){
    .wrapper {
        flex-direction: column;
        .content .project  {
            margin-top: 50px;
            img {
                width: 100%;
            }
        }
        .header .logo {
            margin-left: 0;
        }
        .list {
            flex: 100%;
        }
      
    }

}
@media (min-width: 768px) and (max-width: 940px){
    .wrapper {
        .content .project {
            margin-top: 50px;
        }
    }
}

